
        </div>
<<<<<<< HEAD
        <footer>
=======
        <footer class="container">
>>>>>>> 98c5a79b8bc9b6b8e9d46a8b12623ff96fc02c39
        <hr />
        <p>&copy; MyApp</p>
        </footer>
    </body>
</html>