<html>
    <head>
        <title>APP</title>
        <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header class="black-bg">
            <div class="container">
                <h1 class="white-fg center-align">bookmarks</h1>
            </div>
        </header>
        <nav class="black-bg">
            <div class="container">
                <ul class="white-fg">
                    <li><a href="/bookmarks/all">All</a></li>
                    <li><a href="/bookmarks/search">Search</a></li>
                    <li><a href="/bookmarks/search">Tags</a></li>
                    <li><a href="/bookmarks/new">New</a></li>
                    <% if session[:admin] == true then%>
                        <li><a href="/admin">Admin</a></li>
                    <% end %>
                    <% if session[:loggedIn] == true then %>
                        <li class="right-align"><a href="">Logged in as: <%= session[:username] %></a></li>
                        <li class="right-align"><a href="/login/logout">Logout</a></li>
                    <% else %> 
                        <li class="right-align"><a href="/login">Log In</a></li>
                    <% end %>
                </ul>
            </div>
        </nav>
        <div class="content-wrapper container">
          
          
        