<html>
    <head>
        <title>APP</title>
        <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
    <head>
    <body>
        <header class="black-bg">
            <h1 class="white-fg">This is the app</h1>
        </header>
        <nav class="black-bg">
            <ul class="white-fg">
                <li><a href="/bookmarks/all">Bookmarks</a></li>
                <li><a href="/Admin">Admin</a></li>
                <% if session[:loggedIn] == true then %>
                    <li><a href="/login/logout">Logout</a></li>
                    <li><a href="">Currently logged in as: <%= session[:username] %></a></li>
                <% else %> 
                    <li><a href="/login">Log In</a></li>
                <% end %>
            </ul>
        </nav>
        <div class="content-wrapper">
          
          
        