body {
    font-family: 'Sen' !important;
}

header {
    width: 100vw;
    height: 125px;
}

.black-bg {
    background: black;
}
.black-fg {
    color: black;
}

.white-bg {
    background: white;
}
.white-fg {
    color: white;
}

.error-message {
    color: red;
}

.success-message {
  color: green;
}

.container {
    width: 70%;
    margin-left: 15%;
}
@media only screen and (max-width: 992px) {
    .container {
        width: 95%;
        margin-left: 2.5%;
    }
}
.center-align {
    text-align: center;
}
.left-align {
    float: left;
}
.right-align {
    float: right;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0.2em;
}
.col {
    margin: 0.4em;
    width: 50%;
}
.col.quart {
    width: 25%;
}
.col.three-quart{
    width: 75%;
}
/*This selector selects all children regardless of type*/
.vert-align > *{
    vertical-align: middle;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.4em;
}
h2 {
    font-size: 1.8em;
    margin-bottom: 0.36em;
}
h3 {
    font-size: 1.6em;
    margin-bottom: 0.32em;
}
h4 {
    font-size: 1.4em;
    margin-bottom: 0.28em;
}
h5 {
    font-size: 1.2em;
    margin-bottom: 0.24em;
}
p {
    font-size: 1em;
}
.sub-font {
    font-size: 0.8em;
}
nav {
  height: 32px;
  border-top: solid 2px white;
  margin-bottom: 0.4em;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: inherit;
}
nav li a:hover {
    transition: 0.2s;
    background: white;
    color: black;
}

.side-nav ul li {
    margin-bottom: 25px;
}

form input[type="text"], input[type="password"], input[type="url"] {
    font-size: 14px;
    padding: 5px 0;
    background: transparent;
    border: none;
    border-bottom: solid black 1px;
}

form input[type="submit"] {
    font-family: 'Sen';
    font-size: 16px;
    padding: 7.5px 15px;
    color: white;
    background-color: black;
    border: black 1px solid;
    cursor: pointer;
}
form input[type="submit"]:hover {
    transition: 0.2s;
    background-color: white;
    color: black;
}
form textarea {
    font-size: 14px;
    width: 100%;
    margin: 10px 0;
}
form p {
    margin-bottom: 5px;
}
form {
    margin-bottom: 0.4em;
}

table tbody tr td.btn-col {
    
    background-color: black;
    text-align: center;
    position: relative;
}
table tbody tr td a {
    color: white !important;
    text-decoration: none;
    background-color: black;
    position: absolute;
    top: 3px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
table tbody tr td {
    border: solid black 1px;
    padding: 4px 10px;
}
table tbody tr th {
    border: solid black 1px;
    padding: 4px 10px;
    text-align: left;
    font-weight: 600;
}
table {
    margin-bottom: 0.4em;
    width: 100%;
}

a.btn {
    padding: 5px 15px;
    cursor: pointer;
    background: black;
    color: white;
    border: solid 1px black;
}
a.btn:hover {
    transition: 0.2s;
    color: black;
    background-color: white;
}
a.btn.edit:hover {
    background-color: #77dd77;
    border: solid 1px #77dd77;
    color: white;
}
a.btn.favourite:hover {
    background-color: #FBC02D;
    border: solid 1px #FBC02D;
    color: white;
}
a.btn.report:hover {
    background-color: #f86e6e;
    border: solid 1px #f86e8e;
    color: white;
}

#title {
  font-size: 2em;
  margin-bottom: 0.4em;
}

.comment p {
    margin-top: 1em;
}
.comment hr {
    margin-bottom: 0.8em;
}