body {
    font-family: 'Sen' !important;
}

header {
    width: 100vw;
    height: 125px;
}

.black-bg {
    background: black;
}
.black-fg {
    color: black;
}

.white-bg {
    background: white;
}
.white-fg {
    color: white;
}

.error-message {
    color: red;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.4em;
}
h2 {
    font-size: 1.8em;
    margin-bottom: 0.36em;
}
h3 {
    font-size: 1.6em;
    margin-bottom: 0.32em;
}
h4 {
    font-size: 1.4em;
    margin-bottom: 0.28em;
}
h5 {
    font-size: 1.2em;
    margin-bottom: 0.24em;
}
p {
    font-size: 1em;
}
nav {
  height: 32px;
  border-top: solid 2px white;
  margin-bottom: 0.4em;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: inherit;
}
li a:hover {
  background: white;
  color: black;
}