<%= erb :"Shared/header" %>

<h1>Admin Page</h1>

<nav class="black-bg">
            <div class="container">
                <ul class="white-fg">
                    <li><a href="/admin/bookmarkReport">Bookmark Reports</a></li>
                    <li><a href="/admin/userApproval">Approving New Accounts</a></li>
                    <li><a href="/admin/userDisable">Disabling Accounts</a></li>
                </ul>
    </div>
</nav>

