       
<!DOCTYPE html>
<html>
    <head>
        <title>Bookmarks</title>
    </head>
    <body>
        <%= erb :"Shared/header" %>
        <h1>This is the bookmarks index</h1>
        <form method="get" action="/bookmarks/search">
            <input type="submit" value="Go to Search Page">
        </form>
        <table>
            <tr><th>Number</th><th>Title</th></tr>
            <% @TITLES.each do |x, y| %>
            <tr><td><%= x %></td><td><%= @TITLES[y] %></td></tr>
            <% end %>
        </table>
        <%= erb :"Shared/footer" %>        
    </body>
</html>