       
<!DOCTYPE html>
<html>
    <head>
        <title>Bookmarks</title>
    </head>
    <body>
        <%= erb :"Shared/header" %>
        <h1>This is the bookmarks index</h1>
        <form method="post" action="/bookmarks/search">
            <input type="submit" value="Go to Search Page">
        </form>
        <!--- prints number and title of bookmark --->
        <table>
            <tr><th>Number</th><th>Title</th></tr>
            <% $TITLE_LENGTH.each do |title| %>
            <tr><td><%= $TITLE_LENGTH[title]+1 %></td><td><%= $TITLE[title] %></td></tr>
            <% end %>
        </table>     
        <%= erb :"Shared/footer" %>              
    </body>
</html>